<%= render 'custom/posts_navbar' %>

<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<% if (user = User.find_by(id:@post.creator)) %>
    <p><i>Created by: <strong><%= link_to user.name, profile_path(id:user.id), {:class => 'text-dark'} %></strong></i></p>

    <% if @post.creator == session[:user_id] %>
        <%= link_to 'Edit', edit_post_path(@post), {:class => 'btn btn-outline-primary'} %>
        <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-outline-danger' %>
    <% end %>
<% else %>
    <%= link_to 'Edit', edit_post_path(@post), {:class => 'btn btn-outline-primary'} %>
    <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-outline-danger' %>
<% end %>

<hr>

<%= render 'comments/comments'%>
<%= render 'comments/form' %>